/* Footer styles */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px;
    align-items: flex-start;
}

.footer-left, .footer-center, .footer-right {
    padding: 10px;
}

.company-info {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: -15px;
}

.company-info p {
    margin: 0;
    font-weight: bold;
}

.social-icons {
    display: flex;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.social-icons a:last-child {
    margin-right: 0;
}

.telephone{
    margin-top: 10px;
}

.telephone a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.footer-center {
    text-align: center;
}

.quick-links {
    text-align: left;
    margin-top: 5px;
}

.quick-links h4 {
    margin: 0;
    font-weight: bold;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li {
    margin-bottom: 10px;
}

.quick-links ul li a {
    text-decoration: none;
    color: #fff;
}

.stay-in-loop {
    text-align: left;
    margin: 15px;
}

.stay-in-loop h4 {
    margin: 0;
    font-weight: bold;
}

.stay-in-loop p {
    margin: 5px 0;
    font-size: 16px;
}

.email-signup {
    margin-top: 50px;
    text-align: center;
}

.rounded-input {
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    margin: 0;
}

/* Bottom footer */
.bottom-footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
}

/* Media query for screens 768px and below (e.g., tablets and mobile devices) */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align content */
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%; /* Full width for each panel */
        text-align: center; /* Center-align text */
    }

    .company-info img {
        margin-right: 0; /* Remove right margin for logo */
    }

    .social-icons {
        margin-top: 10px; /* Add margin between social icons and content */
    }

    .telephone {
        margin-top: 10px; /* Add margin between telephone and content */
    }

    .quick-links h4 {
        margin-top: 10px; /* Add margin between "Quick Links" and content */
    }

    .stay-in-loop h4 {
        margin-top: 10px; /* Add margin between "Stay in the Loop" and content */
    }

    .rounded-input {
        width: 80%; /* Adjust the width of the email input */
    }
}
