
/* Add margin-right to the nav-items (list items) to create spacing between them */
/* .nav-item {
  margin-right: 20px; /* Adjust the spacing as needed */
/* } */

/* Add padding around the SVG icons to create spacing within each item */
/* .nav-link svg { */
  /* padding: 5px; Adjust the padding as needed */
/* } */


.icon {
  margin-top: 5px;
  margin-right: 25px; /* Adjust the margin to your preferred spacing */
}

