.vl {
    border-left: 6px solid red;
    height: 100px;
    position: absolute;
    left: 30%;
    margin-left: -3x;
    top: 8rem;
  }

.child-div {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }

  .child-div-2 {
    border: solid #ddd;
    padding: 20px;
    margin: 10px;
    left: 50%;
  }