<%
const pagetitle = 'Sign Up';
const pageDescription = 'Signup';
%>

<%- include ('../layout/header', { pagetitle }) %>

<%- include ('../layout/nav') %>

<div class="container">
    <%- include('../layout/subheaders', {pageDescription }) %>
</div>
    <div class="container">
        <form id="signup-form">
            <input class="rounded-pill" placeholder="Name" type="text" id="name" name="name" required>

            <input class="rounded-pill" placeholder="Email" type="email" id="email" name="email" required>

            <input class="rounded-pill" type="password" id="password" placeholder="Password" name="password" required>

            <label>
                <input type="checkbox" id="agree" required>
                I agree to the <a href="#" id="terms-link">Terms and Conditions</a>
            </label>

            <div class="alert alert-danger rounded-pill" role="alert" id="error" style="display: none;"></div>
            <div class="alert alert-success rounded-pill" role="alert" id="success" style="display: none;"></div>
 
            <button type="submit" class="btn btn-primary rounded-pill" id="signup-btn" disabled><a style="text-decoration: none; color: white;" href="/signup">Sign Up</a></button>
        </form>
    </div>

    <!-- Pop-up HTML -->
    <div class="popup" id="terms-popup">
        <div class="popup-content">
            <span class="popup-close" id="close-popup">X</span>
            <!-- Add your Terms and Conditions content here -->
            <h3>Terms and Conditions</h3>
            <p>This is the terms and conditions text.</p>
        </div>
    </div>

    <%- include ('../layout/footer') %>
</body>
<script src="/js/signup.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>
