<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc1</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
    <%- include ('../layout/header') %>
    <p style="display: flex; justify-content: center;">Welcome </p>
    <%
    <!-- const pageTitle = ''; -->
    const pageDescription = 'New Arrivals';
    %>
    <%- include('../layout/subheaders', {pageDescription }) %>
    <%- include ('../layout/loading') %>
    <%- include ('../layout/footer') %>
</body>
</html>