<section class="my-2 py-3 checkout">

    <div class="cont' text-center mt-1 pt-5">
        <h2>Check Out</h2>
        <hr class="mx-auto">
    </div>

    <div class="mx-auto container">
        <form id="checkout-form" action="">

        </form>
    </div>
</section>