<button id="button">send mail</button>

<script>
  const button = ''; 
  document.getElementById('button').addEventListener('click', ()=> {
    fetch('/sendMail',{
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({}),
                }).then((response) => response.json())
                .then((data) =>{
                  alert(data)
                })
  }) 
</script>