<footer class="footer">
    <div class="footer-left">
        <div class="company-info">
            <img src="/images/logo.png" alt="Company Logo" width="80">
            <p>MadeByKy</p>
        </div>
        <div class="social-icons">
            <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
            <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
        </div>
        <div class="telephone">
            <a href="tel:123-456-7890">123-456-7890</a>
        </div>
    </div>
    
    <div class="footer-center">
        <div class="quick-links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/faq">FAQS</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/t&c">Terms and Conditions</a></li>
                <li><a href="/delivery">Delivery</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-right">
        <div class="stay-in-loop">
            <h4>Stay in the Loop</h4>
            <p>Be the first to know when there's a new drop!</p>
        </div>
        <div class="email-signup">
            <input type="email" placeholder="Enter your email" class="rounded-pill">
        </div>
    </div>
</footer>
<div class="bottom-footer">
    &copy; 2023 Your Company. All Rights Reserved.
</div>
