    <nav class="navbar">
        <div class="navbar-left">
            <a href="#" class="logo">
                <img src="/images/logo.png" alt="logo">
            </a>
            <span class="company-name">MadeByKy</span>
        </div>

        <div class="navbar-center" id="navbar-center">
            <a href="/new_arrival">New Arrivals</a>
            <a href="/shop_all">Shop All</a>
            <a href="/T-shirts">T-shirts</a>
            <a href="/pants">Pants</a>
            <a href="/accessories">Accessories</a>
            <a href="/outerwears">Outerwear</a>
        </div>

        <div class="navbar-right" id="navbar-center">
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        </div>
    </div>
    <button class="toggle-btn" id="toggle-btn">&#9776;</button>
    </nav>
