<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="/css/loading.css">
</head>
<body>
    <div class="loading-page">
        <div class="loader">
            <img src="/images/logo.png" alt="Company Logo">
            <div class="loading-bar"></div>
        </div>
    </div>
    <script src="/js/loading.js"></script>
</body>
</html>
