<body>
    <div class="container_1">
        <h3 style="position: relative; display: inline-block; text-decoration: none;">
            <%= pageDescription %>
            <span style="content: ''; position: absolute; bottom: -10px; left: 50%; transform: translateX(-50%); width: 70%; height: 3px; background-color: red; display: block;"></span>
        </h3>
    </div>
</body>